.resetPasswordPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
}

.resetPasswordContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px; /* Adjust the width as needed */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.resetPasswordContainer form div {
  margin-bottom: 15px;
  width: 100%;
}

.resetPasswordContainer form label {
  display: block;
  margin-bottom: 5px;
}

.resetPasswordContainer form input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc; /* Ensure the border is always visible */
  border-radius: 4px; /* Optional: Add border radius for rounded corners */
}

.resetPasswordContainer form input:focus {
  outline: none;
  border-color: #007bff; /* Change border color on focus */
  box-shadow: 0 0 0 1px #007bff; /* Add subtle focus ring */
}

.resetPasswordContainer button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px; /* Adjust the font size as needed */
}

.resetPasswordContainer button:hover {
  background-color: #0056b3;
}