@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import "tailwindcss";

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

/* Custom bold text */
.bold-text {
    font-weight: bold;
}

h1 {
    /* font-size: 2.5rem; */
    font-weight: bold;
    text-align: center;
}
p {
    font-size: 1.0rem;
}

.pokemon-image {
    max-width: 100%;
    width: 100%; /* Image fills its container */
    height: 100%;
    object-fit: cover; /* Prevents stretching */
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }

@keyframes shimmer {
0% { background-position: -400px 0; }
100% { background-position: 400px 0; }
}

.shimmer {
background: linear-gradient(120deg, rgba(255, 215, 0, 0.1) 30%, rgba(255, 215, 0, 0.3) 50%, rgba(255, 215, 0, 0.1) 70%);
background-size: 800px 100%;
animation: shimmer 2s infinite linear;
}

@keyframes glow {
    0% {
      box-shadow: 0 0 10px rgba(255, 215, 0, 0.4);
    }
    50% {
      box-shadow: 0 0 20px rgba(255, 215, 0, 0.8);
    }
    100% {
      box-shadow: 0 0 10px rgba(255, 215, 0, 0.4);
    }
  }
  
  .glowing-box {
    border: 3px solid #FFD700;
    border-radius: 16px;
    background-color: #003366;
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.6);
    animation: glow 1.5s infinite alternate; /* Glow effect */
  }
  

@tailwind base;
@tailwind components;
@tailwind utilities;

